{% extends "layout.html" %}

{% block body %}


<script type="text/javascript">
$(document).ready(function() {
  	$(".js-example-basic-multiple").select2();
  		$(".CATEGORIA").select2();
	});

</script>

  	<h2>Seleccione categorías para: {{ query['consulta'] }}</h2>

	<form action="{{ '/labeler' }}" method=post>
	  	<div  class="catlist">
				{% for fam  in sortedList %}
					{% set  cat = categories[fam] %}
					<div style="float:left;padding-right:10px;padding-bottom:50px;width:300px; height:90px;">
					{{fam}}
					<select style="width:100%;"class="CATEGORIA js-example-responsive js-example-basic-single js-states form-control" id="id_label_multiple"  name="{{fam}}" multiple="multiple">
		 					{% for id, name in cat.iteritems() %}
		 						<option value="{{id}}">{{name}}</option>
		 					{% endfor %}
		 			</select>
		 			</div>
	 			{% endfor %}
	 	</div>
 		<input type="hidden" name="query_id" value="{{ query['idconsulta'] }}">
		<input style="background-color: #f2efe8 ; margin-top:40px;" type=submit value="Grabar y continuar">
	</form>

<div id="footer">

</div>	

{% endblock %}
