
{% extends "layout.html" %}
{% block body %}

<div class="mainoptions">

	{% if numquerys %}

		<a href="/labeler" class="a-btn">
			<span class="a-btn-text">Etiquetar consultas sin categorizar</span> 
			<span class="a-btn-slide-text"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
			<span class="a-btn-icon-right"><span></span></span>
		</a>

		<a href="/show" class="a-btn">
			<span class="a-btn-text">Ver consultas categorizadas</span> 
			<span class="a-btn-slide-text"><i class="fa fa-tags" aria-hidden="true"></i></span>
			<span class="a-btn-icon-right"><span></span></span>
		</a>

		<a href="/export" class="a-btn">
			<span class="a-btn-text">Exportar a un fichero</span> 
			<span class="a-btn-slide-text"><i class="fa fa-tasks" aria-hidden="true"></i></span>
			<span class="a-btn-icon-right"><span></span></span>
		</a>
		{% endif %}


	<a href="/upload" class="a-btn">
		<span class="a-btn-text">Cargar datos desde fichero</span> 
		<span class="a-btn-slide-text"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
		<span class="a-btn-icon-right"><span></span></span>
	</a>


	</div>

<div id="footer">
<p>Consultas totales:{{numquerys}} / Consultas categorizadas:{{etiquetadas}}</p>
</div>

{% endblock %}