

{% extends "layout.html" %}

<script type="text/javascript" class="init">
    

jQuery(document).ready(function($){
// standard on load code goes here with $ prefix
// note: the $ is setup inside the anonymous function of the ready command

    $('#entries').DataTable();

});




    </script>

{% block body %}

<div class="tablecontainer">
	<form action="{{ '/show' }}" method=post>
	<table id="entries" class="display" cellspacing="0" width="90%">
	        <thead>
	            <tr>
	                <th>Consulta</th>
	                <th>Categorías</th>
	                <th>Seleccionar todas  <input type="checkbox" name="select-all" id="select-all" /></th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Consulta</th>
	                <th>Categoría</th>
	                <th>Opciones</th>
	            </tr>
	        </tfoot>
	        <tbody>

					{% for entry in entries %}            
						<tr>
				            <td> {{ entry['consulta'] }} </td>
				            <td>
				            	{% for cat in entry['categorias'] %}
				            		{% set catStr=dictCats[cat] %}
				            		{{catStr}},
				            	{% endfor %}			        
				            </td>
				            <td>
				            	<input type="checkbox" name="borrar" value="{{entry['idconsulta']}}">
				            </td>
				        </tr>
				{% else %}
					<tr>
			            <td>Not</td>
			            <td>Enoguh</td>
			            <td>Data</td>
			            <td></td>
			        </tr>
				    	
				{% endfor %}
	        </tbody>
	    </table>
		<input  class="btn btn-danger" type="submit" value="Eliminar seleccionadas">
		</form>

</div>


<div id="footer">

</div>

{% endblock %}