    <script type="text/javascript" class="init">
    

$(document).ready(function() {
    $('#entries').DataTable();
} );


    </script>


{% extends "layout.html" %}


{% block body %}

<div class="tablecontainer">
	<table id="entries" class="display" cellspacing="0" width="90%">
	        <thead>
	            <tr>
	                <th>Consulta</th>
	                <th>Categorías</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Consulta</th>
	                <th>Categoría</th>
	            </tr>
	        </tfoot>
	        <tbody>
				{% for entry in entries %}            
					<tr>
			            <td> {{ entry['consulta'] }} </td>
			            <td>
			            	{% for cat in entry['categorias'] %}
			            		{% set catStr=dictCats[cat[0]] %}
			            		{{catStr}},

			            	{% endfor %}

			            </td>
			        </tr>
				{% else %}
					<tr>
			            <td>Not</td>
			            <td>Enoguh</td>
			            <td>Data</td>
			            <td></td>
			        </tr>
				    	
				{% endfor %}


	        </tbody>
	    </table>
</div>

<div id="footer">

</div>

{% endblock %}